<!DOCTYPE html>
<html>
  <head>
    <title>Go, scooter! Go!</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <base href="/" />
  </head>
  <body>
    <h1><a href="/">Go, scooter! Go!...</a></h1>
    {{{body}}}
  </body>
</html>
